#
# Nodes in the network
#
{% macro core_link(name,ip,cost,vlan,remote,mpls,iso) %}
{{name}}.{{vlan}}: { ip: {{ip}}, remote: {{remote}} {% if cost %}, cost: {{cost}}{% endif %} {% if vlan %}, vlan: {{vlan}}{% endif %} {% if mpls %}, mpls: {{mpls}}{% endif %} {% if iso %}, iso: {{iso}}{% endif %}}{% endmacro %}

---

common:
    bgp_asn: {{ common.bgp_asn }}

nodes:
{% for node in nodes %}

  {{ node.name }}:
    mgmt: {{ node.mgmt }}
    rid:  {{ node.rid }}
{%  if node.sid is defined %}
    sid: {{ node.sid }}
{%  endif %}
{%  if node.iso is defined %}
    iso: {{ node.iso }}
{%  endif %}
    links:
{%   for link in links %}
{%     if link.left == node.name %}
      {{ core_link(link.left_port,link.left_ip,link.cost|default(''),link.vlan|default('0'),link.right,link.mpls|default(''),link.iso|default('')) }}
{%     elif link.right == node.name %}
      {{ core_link(link.right_port,link.right_ip, link.cost|default(''),link.vlan|default('0'),link.left,link.mpls|default(''),link.iso|default('')) }}
{%     endif %}
{%   endfor %}
{%  if bgp is defined %}
    bgp:
       ibgp:
{%       if node.rid in bgp.rr  %}
         rr: true
         peers:
{%          for peer in bgp.clients %}
            - {{ peer }}
{%          endfor %}
{%       else %}
         peers:
{%          for peer in bgp.rr %}
            - {{ peer }}
{%          endfor %}
{%          if node.lu is defined %}
            - {{ node.lu }}
{%          endif %}
{%       endif %}
         af:
{%          for af in bgp.af %}
            - {{ af }}
{%          endfor %}
{%   if node.lu is defined %}
            - inet-lu
{%   endif %}
{%  endif %}
{%   if ospf is defined %}
    ospf:
        area: {{ospf.area}}
{%   endif %}
{%   if isis is defined %}
    isis:
        network: {{isis.network}}
{%   endif %}
{% endfor %}
